html,
body {
  background: #333333 url("../img/footer_lodyas.png") top left repeat;
  font-weight: 200;
  font-family: 'Source Sans Pro', 'Helvetica', 'sans-serif';
}
h1,
h2,
h3,
h4 {
  color: #cccccc;
  font-weight: 100 !important;
}
p {
  color: #dddddd;
  font-size: 1.3em;
  padding-bottom: 25px;
}
label {
  color: #dddddd;
  font-size: 1.15em;
  font-weight: 100;
  padding: 0 10px 0 15px;
}
main {
  padding: 0 0 100px 0;
}
#title {
  font-family: serif;
}
a {
  color: #55acee;
}
a:hover {
  color: #83c3f3 !important;
}
a:hover i {
  color: #55acee !important;
}
a:visited {
  color: #55acee !important;
}
.navbar .navbar-header a,
.navbar .navbar-nav a {
  color: #dddddd !important;
}
.navbar .navbar-header a:hover,
.navbar .navbar-nav a:hover {
  color: #55acee !important;
}
.navbar #navbar-icon {
  width: 36px;
  display: inline;
  margin: -8px 10px 0 0;
}
.btn {
  background-color: #444444;
}
.btn i {
  color: #cccccc;
}
.btn:hover {
  background-color: #55acee;
}
.btn:hover i {
  color: #444444 !important;
}
.well {
  background-color: #444444;
  border: none;
  margin: 0 auto 0 auto;
}
.well #chart,
.well #tweetsView {
  background-color: #373737;
}
.well #tweetsView {
  height: 550px;
}
img {
  width: 100%;
}
.img-circle {
  width: 75%;
  display: block;
  margin: 0 auto 0 auto;
}
.circle-label {
  padding-bottom: 50px;
}
#chart,
svg {
  height: 100%;
  min-height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  color: red;
  background-color: #373737;
}
#chart text,
svg text {
  fill: #999999;
  font-family: "Helvetica", "Arial";
  font-weight: 200;
}
#chart line,
svg line {
  stroke: #666666;
}
#chart rect,
svg rect {
  fill: #666666;
}
#chart rect.extent,
svg rect.extent {
  stroke-width: 1px;
  stroke: #e6e6e6;
}
@media (max-width: 768px) {
  #chart,
  svg {
    min-height: 200px;
  }
}
#company-selector {
  overflow-y: scroll;
  max-height: 250px;
  overflow: -moz-scrollbars-vertical;
}
#mode-selector {
  max-height: 250px;
}
#twitter-stats {
  text-align: center;
  margin: 10px auto 10px auto;
  padding: 0 0 0 0;
}
#twitter-stats p {
  padding: 10px 0 10px 0;
}
