@twitter-blue: #55acee;
@text-color: #ccc;
@bg-color: #444;
@text-color-light: #ddd;

html, body {
    background: #333 url("../img/footer_lodyas.png") top left repeat;
    font-weight: 100;
}

h1, h2, h3, h4 {
    color: @text-color;
    font-weight: 100 !important;   
}

p {
    color: @text-color-light;  
    font-size: 1.3em;
    padding-bottom: 25px;
}

label {
    color: @text-color-light;
    font-size: 1.15em;
    font-weight: 100;
    padding: 0 10px 0 15px;
}

main {
    padding: 0 0 100px 0;   
}

#title {
    font-family: serif;   
}

a {
    color: @twitter-blue;
    
    
}

a:hover {
    color: lighten(@twitter-blue, 10%) !important; 

    i {
       color: @twitter-blue !important;  
    }
}

a:visited {
    color: @twitter-blue !important;   
}

.navbar {
   .navbar-header, .navbar-nav {
        a {
            color: @text-color-light !important;
        }
        
        a:hover {
            color: @twitter-blue !important;   
        }
    } 
    
    #navbar-icon {
        width: 36px;
        display: inline;
        margin: -8px 10px 0 0;
    }
}

.btn {
    background-color: @bg-color;
    i {
       color: @text-color;
} 
    }

.btn:hover {
    background-color: @twitter-blue;
    i {
        color: @bg-color !important;
    }
}

.well {
    background-color: @bg-color;
    border: none;
}

img {
    width: 100%;   
}

.img-circle {
    width: 75%;
    display: block;
    margin: 0 auto 0 auto;
}

.circle-label {
    padding-bottom: 50px;   
}

#chart, svg {
    height: 100%;
    min-height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    color: red;
    background-color: darken(@bg-color, 5%);
    
    text {
        fill: darken(white, 40%);  
        font-family: "Helvetica", "Arial";
        font-weight: 200;
    }
    
    line {
        stroke: darken(white, 60%);
    }
    
    rect {
        fill: darken(white, 60%);   
    }
    
    rect.extent {
        stroke-width: 1px;
        stroke: darken(white, 10%);
    }
}

@media (max-width: 768px) {
    #chart, svg {
        min-height: 200px;   
    }
}

#company-selector {
    overflow-y: scroll;
    max-height: 250px;
    overflow: -moz-scrollbars-vertical;
}

#mode-selector {
  max-height: 250px;
}